Source: gz-plugin
Section: libs
Priority: optional
Maintainer: Giovanni Senatore <giovanni.senatore@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 gz-cmake,
Standards-Version: 4.6.2
Homepage: https://gazebosim.org/
#Vcs-Browser: https://salsa.debian.org/debian/gz-plugin
#Vcs-Git: https://salsa.debian.org/debian/gz-plugin.git

Package: libgz-plugin-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libgz-plugin4 (= ${binary:Version}),
 ${misc:Depends},
Description: Cross-platform C++ library for dynamically loading plugins - development files
 Library for registering plugin libraries and dynamically loading them at
 runtime.
 .
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.

Package: libgz-plugin4
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Cross-platform C++ library for dynamically loading plugins
 Library for registering plugin libraries and dynamically loading them at
 runtime.
 .
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.

Package: ruby-gz-plugin
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ruby,
 libgz-plugin4 (= ${binary:Version}),
Description: Cross-platform C++ library for dynamically loading plugins
 Library for registering plugin libraries and dynamically loading them at
 runtime.
 .
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
